**Assignment 06 Using Pandas**

Sooyeon Choi

March 14 2021

1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [35]:
import pandas as pd

df = pd.read_html('https://www.genealogybranches.com/censuscosts.html')
df

[              0                 1               2                        3
 0   Census Year  Total Population     Census Cost  Average Cost Per Person
 1          1790           3929214         $44,377               1.13 cents
 2          1800           5308483         $66,109               1.24 cents
 3          1810           7239881        $178,445               2.46 cents
 4          1820           9633822        $208,526               2.16 cents
 5          1830          12866020        $378,545               2.94 cents
 6          1840          17069458        $833,371               4.88 cents
 7          1850          23191876      $1,423,351               6.14 cents
 8          1860          31443321      $1,969,377               6.26 cents
 9          1870          38558371      $3,421,198               8.87 cents
 10         1880          50155783      $5,790,678              11.54 cents
 11         1890          62979766     $11,547,127              18.33 cents
 12         1900          76303387     $11,854,000              15.54 cents
 13         1910          91972266     $15,968,000              17.07 cents
 14         1920         105710620     $25,117,000              23.76 cents
 15         1930         122775046     $40,156,000              32.71 cents
 16         1940         131669275     $67,527,000              51.29 cents
 17         1950         151325798     $91,462,000              60.44 cents
 18         1960         179323175    $127,934,000              71.34 cents
 19         1970         203302031    $247,653,000                    $1.22
 20         1980         226542199  $1,078,488,000                    $4.76
 21         1990         248718301  $2,492,830,000                   $10.02
 22         2000         281421906    $4.5 Billion                   $15.99
 23        2010*         308745538     $13 Billion                   $42.11,
                                                    0
 0  The U.S. population reached 300,000,000 on 17 ...]

2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [36]:
df1 = df[0]
df1.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [37]:
df2 = df[1]
df2.head()

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

3. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [38]:
df1

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       24 non-null     object
 1   1       24 non-null     object
 2   2       24 non-null     object
 3   3       24 non-null     object
dtypes: object(4)
memory usage: 896.0+ bytes

4. Document the data quality issues using a Markdown cell so the reader understands what the problems are.

1) The 0,1,2,3 above column labeling is unnecessary.

2) Row 23 under census year there is a * after 2010. Needs to be removed.

3) Row 23 and 24 shows 4.5 Billion and 13 Billion in words. Should show numbers instead.

4) Average cost per person does not have consistant money unit. Would be better if it is united all into cents or all into dollars. 

5) Remove '$' for easier conversion.

5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

In [39]:
def cleanse_year(clean_year):
    clean = clean_year.replace(",","").replace("*","")
    if  clean_year.find("4.5") != -1:          
        clean = "45" + "0" * 8
    elif clean_year.find("Billion") != -1:     
        clean = "13" + "0" * 9
    return clean

example1 = "1989*"
example2 = "20*10"
print(cleanse_year(example1))
print(cleanse_year(example2))

1989
2010

6. Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [44]:
df1["Census Year"] = df1["Census Year"].apply(cleanse_year)

KeyError: ignored

7. Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

In [46]:
def cleanse_year(clean_year):
    clean = clean_year.replace(",","").replace("*","")
    if  clean_year.find("4.5") != -1:          
        clean = "45" + "0" * 8
    elif clean_year.find("Billion") != -1:     
        clean = "13" + "0" * 9
    return clean

example1 = "1989*"
example2 = "20*10"
print(cleanse_year(example1))
print(cleanse_year(example2))

1989
2010

In [48]:
df1["Total Population"] = df1["Total Population"].apply(cleanse_year)

KeyError: ignored

In [51]:
def cleanse_cost(clean_cost):
    cost = clean_cost.replace(",","").replace("*","")
    if  clean_cost.find("4.5") != -1:          
        cost = "45" + "0" * 8
    elif clean_cost.find("Billion") != -1:     
        cost = "13" + "0" * 9
    return cost

example1 = "1989*"
example2 = "20*10"
print(cleanse_cost(example1))
print(cleanse_cost(example2))

1989
2010

In [56]:
df1["Census Cost"] = df1["Census Cost"].apply(cleanse_cost)

KeyError: ignored

In [55]:
def cleanse_avcost(clean_avcost):
    avcost = clean_avcost.lstrip("$").replace(",","").replace("*","")
    if  clean_avcost.find("4.5") != -1:          
        avcost = "45" + "0" * 8
    elif clean_avcost.find("Billion") != -1:     
        avcost = "13" + "0" * 9
    return avcost

example1 = "$1989*"
example2 = "$20*10"
print(cleanse_avcost(example1))
print(cleanse_avcost(example2))

1989
2010

In [57]:
df1["Average Cost Per Person"] = df1["Average Cost Per Person"].apply(cleanse_cost)

KeyError: ignored

8. After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [58]:
df1.to_csv('census_cost_cleansed.csv')

9. Use Pandas to read the saved cleansed file and explore to make sure it is clean.

In [59]:
dfnew=pd.read_csv('census_cost_cleansed.csv')
dfnew

    Unnamed: 0            0  ...               2                        3
0            0  Census Year  ...     Census Cost  Average Cost Per Person
1            1         1790  ...         $44,377               1.13 cents
2            2         1800  ...         $66,109               1.24 cents
3            3         1810  ...        $178,445               2.46 cents
4            4         1820  ...        $208,526               2.16 cents
5            5         1830  ...        $378,545               2.94 cents
6            6         1840  ...        $833,371               4.88 cents
7            7         1850  ...      $1,423,351               6.14 cents
8            8         1860  ...      $1,969,377               6.26 cents
9            9         1870  ...      $3,421,198               8.87 cents
10          10         1880  ...      $5,790,678              11.54 cents
11          11         1890  ...     $11,547,127              18.33 cents
12          12         1900  ...     $11,854,000              15.54 cents
13          13         1910  ...     $15,968,000              17.07 cents
14          14         1920  ...     $25,117,000              23.76 cents
15          15         1930  ...     $40,156,000              32.71 cents
16          16         1940  ...     $67,527,000              51.29 cents
17          17         1950  ...     $91,462,000              60.44 cents
18          18         1960  ...    $127,934,000              71.34 cents
19          19         1970  ...    $247,653,000                    $1.22
20          20         1980  ...  $1,078,488,000                    $4.76
21          21         1990  ...  $2,492,830,000                   $10.02
22          22         2000  ...    $4.5 Billion                   $15.99
23          23        2010*  ...     $13 Billion                   $42.11

[24 rows x 5 columns]

10. Updload both the Jupyter notebook and the cleanse data file to GitHub and submit the GitHub link in BlackBoard.