
**Assignment 04**

**Author**: Sooyeon Choi **Date**: Feb 28, 2021

1. Write code to open the text file census_cost.txt and read all lines into a list named "line_list". Print line_list.

In [58]:
with open("census_cost.txt","rt") as f:
    line_list = f.readlines()

for row in line_list:
  print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [59]:
top_2list =  line_list[0:2]
print (top_2list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.

In [60]:
data_list = line_list[2:]
print (data_list)

['1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11\n']

4. Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "" from the last element "2010". Print the cleansed year_list.

In [41]:
year_list = []
for row in data_list:
    year = (row[0:4])
    year_list.append(year)
year_list

['1790',
 '1800',
 '1810',
 '1820',
 '1830',
 '1840',
 '1850',
 '1860',
 '1870',
 '1880',
 '1890',
 '1900',
 '1910',
 '1920',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '2000',
 '2010']

5. Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [42]:
pop_list = []
for line in data_list:
  pop =line.split("\t")[1]
  pop= pop.replace(",","")
  pop_list.append(pop)
pop_list

['3929214',
 '5308483',
 '7239881',
 '9633822',
 '12866020',
 '17069458',
 '23191876',
 '31443321',
 '38558371',
 '50155783',
 '62979766',
 '76303387',
 '91972266',
 '105710620',
 '122775046',
 '131669275',
 '151325798',
 '179323175',
 '203302031',
 '226542199',
 '248718301',
 '281421906',
 '308745538']

6. Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

In [43]:
cost_list = []
for line in data_list:
  cost =line.split("\t")[2]
  cost= cost.replace(",","")
  cost= cost.replace("$","")
  cost= cost.replace("Billion","000000000")

  cost_list.append(cost)
cost_list

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4.5 000000000',
 '13 000000000']

7. Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.

In [52]:
avg_list = []
for line in data_list:
  avgl =line.split("\t")[3]
  avgl= avgl.replace("cents","")
  avgl= avgl.replace("$","")

  avg_list.append(avgl)
avg_list

['1.13 \n',
 '1.24 \n',
 '2.46 \n',
 '2.16 \n',
 '2.94 \n',
 '4.88 \n',
 '6.14 \n',
 '6.26 \n',
 '8.87 \n',
 '11.54 \n',
 '18.33 \n',
 '15.54 \n',
 '17.07 \n',
 '23.76 \n',
 '32.71 \n',
 '51.29 \n',
 '60.44 \n',
 '71.34 \n',
 '1.22\n',
 '4.76\n',
 '10.02\n',
 '15.99\n',
 '42.11\n']

8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [56]:
for i in range(len(data_list)):

  data_list[i] = data_list[i].replace(data_list[i].split("\t")[0], year_list[i])
  data_list[i] = data_list[i].replace(data_list[i].split("\t")[1], pop_list[i])
  data_list[i] = data_list[i].replace(data_list[i].split("\t")[2], cost_list[i])
  data_list[i] = data_list[i].replace(data_list[i].split("\t")[3], avg_list[i])  

new_file = []    
for i in top_2list:
  new_file.append(i)

for i in data_list:
  new_file.append(i)

for row in new_file:
  print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3929214	44377	1.13

1800	5308483	66109	1.24

1810	7239881	178445	2.46

1820	9633822	208526	2.16

1830	12866020	378545	2.94

1840	17069458	833371	4.88

1850	23191876	1423351	6.14

1860	31443321	1969377	6.26

1870	38558371	3421198	8.87

1880	50155783	5790678	11.54

1890	62979766	11547127	18.33

1900	76303387	11854000	15.54

1910	91972266	15968000	17.07

1920	105710620	25117000	23.76

1930	122775046	40156000	32.71

1940	131669275	67527000	51.29

1950	151325798	91462000	60.44

1960	179323175	127934000	71.34

1970	203302031	247653000	1.22

1980	226542199	1078488000	4.76

1990	248718301	2492830000	10.02

2000	281421906	4.5 000000000	15.99

2010	308745538	13 000000000	42.11

9 - Write code to open the newly-created file "census_cost.csv", read all lines and display them. How does it look?

In [70]:
import csv
with open('census_cost.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Source: https://www.genealogybranches.com/censuscosts.html']
['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person']
['1790', '3929214', '44377', '1.13 ']
['1800', '5308483', '66109', '1.24 ']
['1810', '7239881', '178445', '2.46 ']
['1820', '9633822', '208526', '2.16 ']
['1830', '12866020', '378545', '2.94 ']
['1840', '17069458', '833371', '4.88 ']
['1850', '23191876', '1423351', '6.14 ']
['1860', '31443321', '1969377', '6.26 ']
['1870', '38558371', '3421198', '8.87 ']
['1880', '50155783', '5790678', '11.54 ']
['1890', '62979766', '11547127', '18.33 ']
['1900', '76303387', '11854000', '15.54 ']
['1910', '91972266', '15968000', '17.07 ']
['1920', '105710620', '25117000', '23.76 ']
['1930', '122775046', '40156000', '32.71 ']
['1940', '131669275', '67527000', '51.29 ']
['1950', '151325798', '91462000', '60.44 ']
['1960', '179323175', '127934000', '71.34 ']
['1970', '203302031', '247653000', '1.22']
['1980', '226542199', '1078488000', '4.76']
['1990', '248718301', '2492830000', '10.02']
['2000', '281421906', '4.5 000000000', '15.99']
['2010', '308745538', '13 000000000', '42.11']